<!Doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> {%if title%}
        <title>{{title}}</title>
        {%endif%}
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Lobster|Cabin' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% assets "css_source" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
        {%endassets%}
        <link rel="icon" type="image/png" href="{{url_for('static', filename='D.png')}}">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <div id="header1">
        <a href="https://github.com/vikrantdeshpande09876/Weapons-Detector-WUPHF" target="__blank">
            <img src="{{url_for('static', filename='D.png')}}" alt="Weapons-Detector: WUPHF!" srcset="" />
            <h1 style="color:white; text-decoration:none;">Weapons-Detector: WUPHF!</h1>
        </a>
    </div>
    
    <div id="loading">Loading</div>

    <body>
        {%with messages = get_flashed_messages()%} {%if messages%}
        <div id="flashed_msgs">
            {%for msg in messages%} {%if 'Welcome' in msg%}
            <div style=" margin-right:1%; margin-top: 1%; float:right;">
                <div style="color:green;">{{msg}}</div>
            </div>
            {%else%}
            <div style="font-weight: lighter;margin-right:1%; margin-top: 1%; float:right;">
                <div style="color:red;">{{msg}}</div>
            </div>
            {%endif%} {%endfor%}
        </div>
        {%endif%} {%endwith%}
        <div style="text-align: center;">
            {%if header%}
            <h2 id="myheader">{{header}}</h2>
            {%endif%}
        </div>
        {%block content%} {%endblock%}
    </body>
    <div id="totop" class="float-right">
        <div id="gototop"></div>
    </div>
    <div class="text-center panel">
        <p>A YOLOv5 project by <a href="https://www.linkedin.com/in/vikrant-deshpande/" target="_blank" id="myself">Vikrant Deshpande</a></p>
    </div>

    {% assets "javascript_source" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

</html>